In [34]:
import pandas as pd

In [35]:
df=pd.read_csv("data.csv")

In [36]:
df.head()

       fever  bodypain  age  runnynose  diffbreath  infectionprob
0  96.825422         0   27          0           0              0
1  96.996253         0   89          1           0              0
2  97.794933         0   25          1          -1              0
3  96.257440         1   31          0           0              1
4  99.071519         1   60          1           1              0

In [37]:
df.tail()

          fever  bodypain  age  runnynose  diffbreath  infectionprob
3494  97.403131         1   80          1          -1              0
3495  97.328937         1   86          0           1              1
3496  99.492320         1   56          0           0              1
3497  96.944448         0   88          0          -1              0
3498  97.275714         0   37          0           1              0

In [38]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3499 entries, 0 to 3498
Data columns (total 6 columns):
fever            3499 non-null float64
bodypain         3499 non-null int64
age              3499 non-null int64
runnynose        3499 non-null int64
diffbreath       3499 non-null int64
infectionprob    3499 non-null int64
dtypes: float64(1), int64(5)
memory usage: 164.1 KB

In [39]:
df['fever'].value_counts()

99.629559    1
96.391765    1
98.434005    1
96.334836    1
96.391928    1
            ..
97.092109    1
96.509403    1
97.631844    1
96.695112    1
98.802997    1
Name: fever, Length: 3499, dtype: int64

In [40]:
df.describe()

,fever,bodypain,age,runnynose,diffbreath,infectionprob
count,3499.000000,3499.000000,3499.000000,3499.000000,3499.000000,3499.000000
mean,98.012881,0.494713,54.812232,0.496428,0.024578,0.497571
std,1.160208,0.500044,20.091256,0.500059,0.814373,0.500066
min,96.001261,0.000000,20.000000,0.000000,-1.000000,0.000000
25%,96.993930,0.000000,37.000000,0.000000,-1.000000,0.000000
50%,98.000214,0.000000,55.000000,0.000000,0.000000,0.000000
75%,99.021696,1.000000,72.000000,1.000000,1.000000,1.000000
max,99.998511,1.000000,89.000000,1.000000,1.000000,1.000000

In [41]:
import numpy as np

In [42]:
def data_split(data,ratio):
    np.random.seed(42)
    shuffled=np.random.permutation(len(data))
    test_set_size=int(len(data)*ratio)
    test_indices=shuffled[:test_set_size]
    train_indices=shuffled[test_set_size:]
    return data.iloc[train_indices],data.iloc[test_indices]

In [43]:
train,test=data_split(df,.3)

In [44]:
train

          fever  bodypain  age  runnynose  diffbreath  infectionprob
1374  98.892736         1   75          0           1              0
2765  97.619685         0   43          0           1              1
231   98.606896         1   27          0           1              1
1106  96.576482         0   22          0           1              1
1791  96.867841         0   52          0           0              1
...         ...       ...  ...        ...         ...            ...
1095  97.864018         1   52          0           0              0
1130  96.539034         0   23          1           0              0
1294  96.258166         0   76          0          -1              1
860   96.501508         1   83          0          -1              0
3174  96.980590         0   46          0           0              1

[2450 rows x 6 columns]

In [45]:
test

          fever  bodypain  age  runnynose  diffbreath  infectionprob
1650  97.077465         0   61          0           0              0
2456  98.350608         1   42          1           1              1
2232  98.169496         1   30          1           1              1
1945  96.564658         0   57          0          -1              1
309   96.946090         0   46          1          -1              0
...         ...       ...  ...        ...         ...            ...
199   99.824478         1   57          0           1              0
2670  97.765131         0   89          1           0              0
1253  98.731400         0   67          1           0              0
801   96.527446         0   61          1           0              1
2112  99.061774         0   70          0          -1              1

[1049 rows x 6 columns]

In [46]:
x_train=train[['fever','bodypain','age','runnynose','diffbreath']].to_numpy()
x_test=test[['fever','bodypain','age','runnynose','diffbreath']].to_numpy()

In [48]:
y_train=train[['infectionprob']].to_numpy().reshape(2450,-1)
y_test=test[['infectionprob']].to_numpy().reshape(1049,-1)

In [49]:
from sklearn.linear_model import LogisticRegression

In [50]:
clf=LogisticRegression()
clf.fit(x_train,y_train)

c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)
c:\users\hp\appdata\local\programs\python\python37\lib\site-packages\sklearn\utils\validation.py:724: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [62]:
inputFeatures=[106,0,89,0,0]
infprob=clf.predict_proba([inputFeatures])[0][1]

In [63]:
infprob

0.48624581089607866

In [66]:
if(infprob>=0.50):
    print("The chance of infection is:",infprob*100,"percent")
    print("Please do a test from any nearest hospital....")
    print("Thanks for using me....")
else:
    print("The chance of infection is:",infprob*100,"percent")
    print("The paitent is safe.Please secure yourself...")
    print("Thanks for using me....")

The chance of infection is: 48.624581089607865 percent
The paitent is safe.Please secure yourself...
Thanks for using me....